body {
  background: {{ .Param "colors.primary_base"}}
}

a {
    color: {{ .Param "colors.primary_text" }};
}

a:hover {
    color: {{ .Param "colors.primary" }};
}

div.main .content .markdown, div.header, div.header nav ul {
    color: {{ .Param "colors.primary_text" }};
}

div.header nav ul a {
    color: {{ .Param "colors.primary_text" }};
}

div.header nav ul a:hover {
    color: {{ .Param "colors.primary" }};
}

div.main .content .markdown code {
    background-color: {{ .Param "colors.accent" }};
    color: {{ .Param "colors.primary_text" }};
}

div.main .content .markdown pre, div.main .content .markdown pre code {
    background-color: {{ .Param "colors.secondary_base" }};
    color: {{ .Param "colors.secondary_text" }};
}